.e-container {
  overflow: auto;
}
.e-container:after {
  display: block;
  clear: both;
}
.e-has-header {
  padding-top: 69px;
}
.e-has-footer {
  padding-bottom: 69px;
}
.e-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
@media (min-width: 993px) {
}
.e-responsive {
  overflow-x: auto;
}
.e-row {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.e-row:after {
  display: table;
  clear: both;
}
.e-col-s1 {
  float: left;
  width: 8.33333333%;
}
.e-col-s2 {
  float: left;
  width: 16.66666667%;
}
.e-col-s3 {
  float: left;
  width: 25%;
}
.e-col-s4 {
  float: left;
  width: 33.33333333%;
}
.e-col-s5 {
  float: left;
  width: 41.66666667%;
}
.e-col-s6 {
  float: left;
  width: 50%;
}
.e-col-s7 {
  float: left;
  width: 58.33333333%;
}
.e-col-s8 {
  float: left;
  width: 66.66666667%;
}
.e-col-s9 {
  float: left;
  width: 75%;
}
.e-col-s10 {
  float: left;
  width: 83.33333333%;
}
.e-col-s11 {
  float: left;
  width: 91.66666667%;
}
.e-col-s12 {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  .e-col-m1 {
    float: left;
    width: 8.33333333%;
  }
  .e-col-m2 {
    float: left;
    width: 16.66666667%;
  }
  .e-col-m3 {
    float: left;
    width: 25%;
  }
  .e-col-m4 {
    float: left;
    width: 33.33333333%;
  }
  .e-col-m5 {
    float: left;
    width: 41.66666667%;
  }
  .e-col-m6 {
    float: left;
    width: 50%;
  }
  .e-col-m7 {
    float: left;
    width: 58.33333333%;
  }
  .e-col-m8 {
    float: left;
    width: 66.66666667%;
  }
  .e-col-m9 {
    float: left;
    width: 75%;
  }
  .e-col-m10 {
    float: left;
    width: 83.33333333%;
  }
  .e-col-m11 {
    float: left;
    width: 91.66666667%;
  }
  .e-col-m12 {
    float: left;
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .e-col-l1 {
    float: left;
    width: 8.33333333%;
  }
  .e-col-l2 {
    float: left;
    width: 16.66666667%;
  }
  .e-col-l3 {
    float: left;
    width: 25%;
  }
  .e-col-l4 {
    float: left;
    width: 33.33333333%;
  }
  .e-col-l5 {
    float: left;
    width: 41.66666667%;
  }
  .e-col-l6 {
    float: left;
    width: 50%;
  }
  .e-col-l7 {
    float: left;
    width: 58.33333333%;
  }
  .e-col-l8 {
    float: left;
    width: 66.66666667%;
  }
  .e-col-l9 {
    float: left;
    width: 75%;
  }
  .e-col-l10 {
    float: left;
    width: 83.33333333%;
  }
  .e-col-l11 {
    float: left;
    width: 91.66666667%;
  }
  .e-col-l12 {
    float: left;
    width: 100%;
  }
}
.e-col {
  display: inline-block;
}
.e-rest {
  overflow: hidden;
}
.e-align-left {
  text-align: left;
}
.e-align-center {
  text-align: center;
}
.e-align-right {
  text-align: right;
}
/*.e-center {
  display:flex;
  justify-content:center;
  align-items:center;

}
*/
.e-layout-grid {
  width: 100%;
}
.e-layout-grid .e-change-view-icon {
  height: 30px;
  width: 30px;
  float: right;
  padding-top: 50px;
}
.e-layout-grid .e-grid-element-short {
  display: inline-block;
}
.e-layout-grid .e-grid-element-long {
  display: block;
}
.e-layout-grid .e-grid-margin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
}
.e-layout-grid .centered {
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 330px;
}
@media only screen and (min-width: 601px) {
  .e-layout-grid .centered {
    width: 500px;
  }
}
@media only screen and (min-width: 993px) {
  .e-layout-grid .centered {
    width: 700px;
  }
}
.e-vertical-layout-grid {
  overflow: auto;
}
.e-vertical-layout-grid .e-expense-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.e-vertical-layout-grid .e-expense-wrapper .e-layout-vertical-container {
  display: block;
}
.e-wide {
  width: 100%;
}
.e-text {
  margin-left: 15px;
  padding-top: 25px;
}
.e-header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.e-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
