.e-paginator {
  color: #b6d576;
  background-color: #8ebf2c;
  padding: 0 10px;
  height: 126px;
}
@media only screen and (min-width: 661px) {
  .e-paginator {
    height: 42px;
  }
}
@media only screen and (min-width: 993px) {
  .e-paginator {
    min-height: 42px;
  }
}
.e-paginator .e-align-left {
  padding: 10px 0;
  text-align: center;
}
@media only screen and (min-width: 661px) {
  .e-paginator .e-align-left {
    text-align: left;
  }
}
.e-paginator .e-align-center {
  text-align: center;
}
.e-paginator .e-align-right {
  text-align: center;
}
@media only screen and (min-width: 661px) {
  .e-paginator .e-align-right {
    text-align: right;
  }
}
.e-paginator .e-paginator-block-clickable {
  display: inline-block;
  padding: 10px 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.e-paginator .e-paginator-block-clickable:hover {
  color: #b6d576;
  background-color: #7faa27 !important;
}
.e-paginator .e-paginator-block-clickable:active {
  color: #ffffff;
}
.e-paginator .e-paginator-block-text {
  display: inline-block;
  padding: 10px 5px;
}
.e-paginator .e-paginator-block-page {
  display: inline-block;
  padding: 10px 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0;
}
.e-paginator .e-paginator-block-page:hover {
  color: #b6d576;
  background-color: #7faa27 !important;
}
.e-paginator .e-paginator-block-page:active {
  color: #ffffff;
}
.e-paginator .e-paginator-block-page input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  width: 30px;
  height: 15px;
}
