.e-table table {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #f1f0f0;
}
.e-table tbody .active {
  background-color: #b6d576 !important;
}
.e-table tbody tr td {
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  border-left: 1px solid #a19e9a;
}
.e-table tbody tr td:first-child {
  border-left: none !important;
}
.e-table tbody tr:nth-child(even) {
  background-color: #ffffff !important;
}
.e-table tbody tr:hover {
  background-color: #b6d576 !important;
}
.e-table tbody .e-checked {
  background-color: rgba(182, 213, 118, 0.7) !important;
}
.e-table thead th {
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 15px 20px 5px 20px;
  min-width: 100px;
  overflow: hidden;
  border-left: 1px solid #a19e9a;
}
.e-table thead th:first-child {
  border-left: none !important;
}
