.e-toolbar img,
.e-toolbar .e-text,
.e-toolbar button,
.e-toolbar .btn {
  cursor: pointer !important;
}
.e-toolbar .e-logo-wrap {
  height: 58px;
  padding: 0 15px 0 5px;
  background-color: #ffffff;
  color: #8ebf2c;
}
.e-toolbar .e-logo-wrap a:link,
.e-toolbar .e-logo-wrap a:visited {
  color: #8ebf2c;
  text-decoration: none;
}
.e-toolbar .e-logo-wrap a:hover,
.e-toolbar .e-logo-wrap a:active {
  color: #bbdf72;
}
.e-toolbar .e-tool-wrap {
  height: 58px;
  padding: 0 15px 0 5px;
  background-color: #8ebf2c;
  color: #ffffff;
}
.e-toolbar .e-tool-wrap a:link,
.e-toolbar .e-tool-wrap a:visited {
  color: #ffffff;
  text-decoration: none;
}
.e-toolbar .e-tool-wrap a:hover,
.e-toolbar .e-tool-wrap a:active {
  color: #ffffff;
}
.e-toolbar .e-filter-wrap {
  height: 58px;
  padding: 0 15px 0 5px;
  background-color: #f1f0f0;
  color: #221e20;
}
.e-toolbar .e-filter-wrap a:link,
.e-toolbar .e-filter-wrap a:visited {
  color: #221e20;
  text-decoration: none;
}
.e-toolbar .e-filter-wrap a:hover,
.e-toolbar .e-filter-wrap a:active {
  color: #584e53;
}
.e-toolbar .e-filter-content {
  display: inline-block;
  float: left;
  padding: 20px;
}
.e-toolbar .e-filter-content button {
  border-radius: 30px;
  padding: 5px 20px;
  background: #b6d576 !important;
  color: #ffffff !important;
  box-shadow: 3px 3px 3px #f1f0f0 !important;
}
.e-toolbar .e-toolbar-content {
  display: inline-block;
  padding: 10px 5px 5px 5px;
}
.e-toolbar .e-toolbar-content img {
  height: 37.7px;
  width: auto;
}
.e-toolbar .e-toolbar-content .e-text {
  padding-top: 8px;
  font-size: 20px;
}
.e-toolbar .e-toolbar-content .btn {
  display: inline-block !important;
  margin: 0 !important;
  margin-top: 7px !important;
  border-radius: 30px;
  padding: 5px 20px;
  background: #b6d576 !important;
  color: #ffffff !important;
  box-shadow: 3px 3px 3px #f1f0f0 !important;
}
.e-toolbar .e-dropdown-panel .dropdown-content {
  min-width: 110px;
  left: -110px;
  color: #221e20 !important;
}
.e-toolbar .e-dropdown-panel .dropdown-content img,
.e-toolbar .e-dropdown-panel .dropdown-content .e-text {
  cursor: pointer !important;
  font-size: 12px !important;
  margin: 5px;
}
.e-toolbar .e-dropdown-panel .dropdown-content img {
  float: left;
  width: 30px;
  height: auto;
}
.e-toolbar .e-dropdown-panel .dropdown-content .e-text {
  clear: both;
}
.e-toolbar .e-left {
  float: left;
}
.e-toolbar .e-right {
  float: right;
}
